<div class="profile">  <center>
 <h1> Profile Page for <%= @user.name %> </h1>
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Name:</strong>
    <%= @user.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= @user.email %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= @user.age %>
  </p>

  <p>
    <strong>Gender:</strong>
    <%= @user.gender %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @user.description %>
  </p>

  <p>
    <strong>Interested in:</strong>
    <%= @user.interested_in %>
  </p>

  <p>
    <strong>Tags:</strong>
    <%= @user.tags %>
  </p>

  <p>
    <strong>Picture:</strong>
    <%= @user.picture %>
  </p>

 
  <%= link_to 'Edit', edit_user_path(@user) %> |
  <%= link_to 'Back', users_path %>
  
  </center>
</div>
